<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leadiing.isense">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_peace"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SensorInput">
        <activity
            android:name="com.leadiing.isense.How_it_works"
            android:exported="false" />
        <activity
            android:name="com.leadiing.isense.Delete_Activity"
            android:exported="false" />
        <activity
            android:name="com.leadiing.isense.Developer_info"
            android:exported="false" />
        <activity
            android:name="com.leadiing.isense.InputGesture"
            android:exported="false" />
        <activity
            android:name="com.leadiing.isense.MainActivity"
            android:exported="true" />
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>